<!DOCTYPE html>
<html>
<head>
	<title>Upload File</title>
</head>
<style>
	body{
		background-color: #ADD8E6;
        font-family: sans-serif;
     }
	h1 {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        }
    h3{
        font-size: 27px;
       	font-weight: 200;
       	text-align: center;
       }
     form{
     	text-align: center;
     }
     input{
     	height : 30px;
     }
</style>
<body>
    <% files.forEach(function(file){ %>
     <img src="../uploads/${file}">
     <br/>
    <% })%>
</body>
</html>