<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>
</head>
<style>
	body{
		background-color: #ADD8E6;
        font-family: sans-serif;
        padding-top: 100px;
     }
	h1 {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        }
     form{
     	text-align: center;
     }
     input{
     	height : 30px;
     }
</style>
<body>
<h1>Error in getting the files</h1>
</body>
</html>