<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>
</head>
<style>
	body{
		background-color: #ADD8E6;
        font-family: sans-serif;
     }
	h1 {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        }
     form{
     	text-align: center;
     }
     input{
     	height : 30px;
     }
</style>
<body>
<h1>success</h1>
<br/>
<form action="/photo/get" method="GET">
	<input type="submit" value="Do you want to see the files uploaded?" name="submit">
</form>	
</body>
</html>